<!DOCTYPE html>
<html>
    <head>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="invit.js"></script>
    </head>
    <body>
        <h2><%=cons.nom_reunion=%></h2>
        <p>Reunion de <%=cons.creator_username=%></p>
        <div id="horraires">

        </div>
        <p><%=cons.descr=%></p>
        <p>Acceptez vous de rejoindre la reunion ? </p>
        <label for="yes">
            Oui
            <input type="checkbox" id="yes" value="false">
        </label>
        <label for="non">
            Non
            <input type="checkbox" id="no">
        </label>

        <button id="submitForm">Envoyez</button>
    </body>
</html>