header {
    border: solid 2px red !important;
    padding : 10px;
    margin : 1px;
}

div#containerDiv {
    border: none !important;
}

div#otherDiv {
    margin-left: 20px;
}

div#agendaDiv {
    border : 2px solid red;
    margin-left : 10px;
}

#voirReunionDiv {
    border : 2px solid red;
}

div#InfoReunion{
    z-index: 1000;
    width: 50%;
    height: 50%;
    align-items: center;
    display: none;
}

html {
    color : blue;
}

.fate-out{
    transition: opacity 1s ease-out;
    opacity: 0;
}
